<!-- Contact -->
<div class="mb4">
  <h4 class="text-2xl lg:text-4xl py-5 normal-case">How can we help?</h4>

  <form name="contact" method="POST" data-netlify="true" class="border border-solid border-gray-900 dark:border-white mb-3">
    <div class="w-full flex flex-wrap mb-2">
      <!-- Name -->
      <div class="w-1/2 border-b border-solid border-gray-900 dark:border-white p-3">
          <label for="name" class="uppercase font-semibold">Name</label>
          <input type="text" id="name" name="name" placeholder="Jules Winnfield" class="w-full bg-transparent pt-1">
      </div>
      <!-- Email -->
      <div class="w-1/2 border-b border-l border-solid border-gray-900 dark:border-white p-3">
          <label for="email" class="uppercase font-semibold">Email</label>
          <input type="email" id="email" name="email" placeholder="jules@example.com" class="w-full bg-transparent pt-1">
      </div>
      <!-- Company -->
      <div class="w-full border-b border-solid border-gray-900 dark:border-white p-3">
          <label for="company" class="uppercase font-semibold">Company</label>
          <input type="text" id="company" name="company" placeholder="Marsellus Wallace" class="w-full bg-transparent pt-1">
      </div>
    </div>

    <!-- Message -->
    <div class="p-3">
      <label for="message" class="uppercase font-semibold">Message</label>
      <textarea id="message" name="message" placeholder="Tell us about yourself" rows="7" class="w-full bg-transparent pt-1"></textarea>
    </div>

    <!-- Button -->
    <div class="ml-3 mb-3">
      <p class="mb-2 normal-case text-xs">By using this form you agree with the storage and handling of your data by this website.</p>
      <button type="submit" class="text-white uppercase transform hover:scale-95 transition duration-100 text-center py-3 px-10 text-4xl bg-primary shadow-lg rounded-full my-2">Send Message</button>
    </div>
  </form>

</div>
