<button id="switchTheme" class="fixed bottom-0 right-0 bg-gray-900 dark:bg-white rounded-full py-2 px-3 mb-4 mr-4 shadow-xl focus-none flex text-white dark:text-gray-900 transform hover:scale-90 transition duration-100">
	<svg class="mr-2" width="24" height="24" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="fill-current text-gray-100 dark:text-gray-900 dark:rotate-180 transition-all" d="M30.5 22.5C30.5 18.08 26.92 14.5 22.5 14.5V30.5C26.92 30.5 30.5 26.92 30.5 22.5Z"/>
		<path class="fill-current text-gray-100 dark:text-gray-900 dark:rotate-180 transition-all" d="M22.5 45C34.91 45 45 34.91 45 22.5C45 10.09 34.91 0 22.5 0C10.09 0 0 10.09 0 22.5C0 34.91 10.09 45 22.5 45ZM41 22.5C41 32.7 32.7 41 22.5 41V30.5C18.08 30.5 14.5 26.92 14.5 22.5C14.5 18.08 18.08 14.5 22.5 14.5V4C32.7 4 41 12.3 41 22.5Z"/>
	</svg>
	<span class="hidden dark:inline-block">Light</span>
	<span class="dark:hidden">Dark</span>
</button>

<script type="text/javascript">
  document.getElementById('switchTheme').addEventListener('click', function() {
      let htmlClasses = document.querySelector('html').classList;
      if(localStorage.theme == 'dark') {
          htmlClasses.remove('dark');
          localStorage.removeItem('theme')
      } else {
          htmlClasses.add('dark');
          localStorage.theme = 'dark';
      }
  });
</script>
