{{ define "main" }}

<div id="work-feed" class="animate__animated animate__fadeIn w-full flex flex-wrap p-1">

    {{ $paginator := .Paginate (where site.RegularPages "Section" "work") }}
    {{ range $paginator.Pages }}

      <a href="{{.Permalink}}" class="tile w-full md:w-1/2 2xl:w-1/3 p-1 group">
        <div class="h-80 2xl:h-96 relative group bg-aqua overflow-hidden bg-cover bg-center" style="background-image: url('{{ .Params.image }}')">
          <div class="text-white overlay-text z-20 w-full lg:opacity-0 lw-full group-hover:opacity-100 transition-all text-4xl mix-blend-difference text-center leading-none">
            {{.Params.inPageTitle}}
          </div>
          {{ if .Params.thumbnailVideo }}
            <video autoplay muted loop class="object-cover w-full h-full duration-1000 ease-in-out transform group-hover:scale-105">
              <source src="{{ .Params.thumbnailVideo }}" type="video/mp4">
            </video>
          {{ end }}
        </div>
      </a>

    {{ end }}
</div>

{{ partial "pagination" . }}

<script type="text/javascript">
  $('#work-feed').infiniteScroll({
    path: '.pagination-next',
    append: '.tile',
    status: '.scroller-status',
    hideNav: '.pagination',
  });
</script>
{{ end }}
