{{ define "main" }}
<div class="animate__animated animate__fadeIn p-2">
  <div class="border border-solid border-gray-900 dark:border-white overflow-hidden">

    <div class="marquee2" data-duplicated='true' data-direction='left' data-pauseOnHover='false' data-gap='200' data-speed='100' data-startVisible='true'>
      <span class="text-7xl lg:text-9xl font-semibold">{{.Title}}</span>
    </div>

    <div class="w-full flex flex-row font-semibold border-t border-b border-gray-900 dark:border-white">
      <div class="p-5 w-1/2">
        {{ .Date.Format "Jan 2, 2006" }}
      </div>
      <div class="p-5 w-1/2 border-l border-solid border-gray-900 dark:border-white">
        {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
      </div>
    </div>

    <div class="max-w-5xl mx-auto py-10 text-2xl lg:text-4xl normal-case p-5">
      {{.Params.intro}}
    </div>

    {{ if .Params.video }}
      <div class="px-5">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src={{ .Params.video }} style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    {{ end }}

    <div class="max-w-5xl mx-auto py-10 normal-case markdown p-5 flex flex-wrap">
      {{ range .Params.sections }}
        <div class="w-full md:w-1/2 p-2">
          {{ if .subtitle }}
            <h4 class="font-semibold mb-2">{{ .subtitle }}</h4>
          {{ end }}
          {{ if .copy }}
            <p>{{ .copy }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>

    <div class="carousel pb-10 mx-auto px-5 md:px-0">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {{ range .Params.carousel }}
              <li class="glide__slide">

                {{ if .image }}
                  <img class="w-full" src="{{ .image }}"/>
                {{ end }}

                {{ if .video }}
                  <video autoplay muted loop id="myVideo" class="w-full">
                    <source src="{{ .video }}" type="video/mp4">
                  </video>
                {{ end }}

                <p class="pt-3">{{ .alt }}</p>
              </li>
            {{ end }}
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="carousel-arrow glide__arrow--left" data-glide-dir="<">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
          </button>
          <button class="carousel-arrow glide__arrow--right" data-glide-dir=">">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
          </button>
        </div>
      </div>
    </div>

    {{ with .Params.pdf }}
      <div class="flex mx-auto">
        <a href="{{ . }}" class="mb-20 mx-auto">
          <button class="text-white transform hover:scale-95 transition duration-100 text-center py-2 px-5 bg-primary shadow-lg rounded-full flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
            <span>DIGEST OUR CASE STUDY</span>
          </button>
        </a>
      </div>
    {{ end }}


  </div>

  <div class="flex flex-wrap max-w-5xl mx-auto py-10">
    <h2 class="text-2xl lg:text-4xl normal-case mb-5 w-full">More Projects</h2>
    {{ range first 3 (shuffle (where (where .Site.RegularPages "Section" "work") "Title" "!=" .Title )) }}
      <a href="{{.Permalink}}" class="w-full lg:w-1/3 p-1 group">
        <div class="h-56 relative overflow-hidden bg-aqua bg-cover bg-center" style="background-image: url('{{ .Params.image }}')">
          {{ if .Params.thumbnailVideo }}
            <video autoplay muted loop class="object-cover w-full h-full duration-1000 ease-in-out transform group-hover:scale-105">
              <source src="{{ .Params.thumbnailVideo }}" type="video/mp4">
            </video>
          {{ end }}
        </div>
        <h4 class="py-2">
          {{ .Title }}
        </h4>
      </a>
    {{ end }}
  </div>

  <div class="max-w-5xl mx-auto mb-10">
    {{ partial "contact-form" . }}
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>

<script type="text/javascript">
  $('.marquee2').marquee({});

  new Glide('.glide', {
    autoplay: 5000,
    hoverpause: true,
    perView: 2,
    peek: 200,
    startAt: 1,
    breakpoints: {
      600: {
        peek: 0,
        startAt: 0
      },
      1024: {
        peek: 100,
        startAt: 0,
      },
      1600: {
        perView: 1,
      }
    }
  }).mount()

</script>

{{ end }}
