{{ define "main" }}
  <div class="flex flex-wrap w-full p-2">

    <div class="w-full lg:w-3/4">
      <div id="auto-feed" class="grid grid-cols-3 auto-rows-max gap-2 text-white animate__animated animate__fadeIn mb-2">

        {{ $paginator := .Paginate (where site.RegularPages "Section" "work") }}
        {{ range $paginator.Pages }}

          <a href="{{ .Permalink }}" class="tile bg-aqua overflow-hidden cursor-pointer group relative bg-cover bg-center" style="background-image: url('{{ .Params.image }}')">
            <div class="overlay-text z-20 lg:opacity-0 group-hover:opacity-100 transition-all mix-blend-difference text-center w-full p-2 leading-none">
              {{.Params.inPageTitle}}
            </div>
            {{ if .Params.thumbnailVideo }}
              <video autoplay muted loop class="object-cover w-full h-full duration-1000 ease-in-out transform group-hover:scale-105">
                <source src="{{ .Params.thumbnailVideo }}" type="video/mp4">
              </video>
            {{ end }}
          </a>

        {{ end }}

      </div>

      {{ partial "pagination" . }}
    </div>

    <div class="class w-full lg:w-1/4">
      <a href="{{.Params.link}}" class="group">
        <div class="bg-aqua h-56 ml-2 mb-2 p-2" style="background-image: url('{{ .Params.image }}');background-size:cover;">
          <div class="border border-solid border-gray-500 h-full text-white">
            <div class="border-b border-solid border-gray-500 px-2 py-4">
                <h2 class="text-3xl font-semibold leading-tight mb-1">{{.Params.featuredBlockTitle}}</h2>
            </div>
            <div class="p-2">
              <p class="normal-case">{{.Params.featuredBlockCopy}}<span class="opacity-0 duration-100 ease-in-out group-hover:opacity-100">👉</span></p>
            </div>

          </div>
        </div>
      </a>
      <div id="instafeed-container" class="lg:pl-2 animate__animated animate__fadeIn"></div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
  <script type="text/javascript">
    $('#auto-feed').infiniteScroll({
      path: '.pagination-next',
      append: '.tile',
      status: '.scroller-status',
      hideNav: '.pagination',
    });

    var userFeed = new Instafeed({
      get: 'user',
      target: "instafeed-container",
      resolution: 'low_resolution',
      limit: 8,
      accessToken: 'IGQVJYTlNRNVBMRUpGVUh4NldDUkY3Yzd0S3lXZAkQ4bFN1TFNzU1YzUjVfVnE3M0NGaXNfcW9ReUlRVEtuZAkQ4cEpFNDlEaVFuMUFjNWMzamVFVTJYbUh0dUlWN3MwNGZAMS05uNzE0aWJvaVBjNHp5awZDZD',
      template: '<a href="{{ "{{link}}" }}" target="_blank" class="flex group relative overflow-hidden mb-2 text-white bg-black"><div class=" overlay-text w-full p-2 instagram z-20 opacity-0 group-hover:opacity-100 transition-all text-base text-center leading-none"><img src="img/insta-mini.svg" class="mx-auto mb-2" alt=""><p>{{ "{{caption}}" }}</p></div><img class="object-cover w-full h-full duration-1000 ease-in-out transform group-hover:opacity-50 group-hover:scale-105" src="{{ "{{image}}" }}" class="pb-2"/></a>',
    });
    userFeed.run();
  </script>
{{ end }}
