{{ define "main" }}

  <div id="auto-feed" class="grid animate__animated animate__fadeIn p-2 grid-cols-3 auto-rows-max gap-2 text-white">

    {{ $paginator := .Paginate (where site.RegularPages "Section" "work") }}
    {{ range $paginator.Pages }}

      <a href="{{ .Permalink }}" class="tile bg-aqua overflow-hidden cursor-pointer group relative">
        <div class="overlay-text z-20 opacity-0 group-hover:opacity-100 transition-all text-4xl mix-blend-difference text-center leading-none">
          {{ .Title }}
        </div>
        <img src="{{ .Params.image }}" class="object-cover w-full h-full" alt="">
        {{ if .Params.thumbnailVideo }}
          <video autoplay muted loop id="myVideo" class="thumbnail-video z-10">
            <source src="{{ .Params.thumbnailVideo }}" type="video/mp4">
          </video>
        {{ end }}
      </a>

    {{ end }}

  </div>

  {{ partial "pagination" . }}

  <script type="text/javascript">
    $('#auto-feed').infiniteScroll({
      path: '.pagination-next',
      append: '.tile',
      status: '.scroller-status',
      hideNav: '.pagination',
    });
  </script>
{{ end }}
