{{ define "main" }}

<div class="animate__animated animate__fadeIn">
  <div class="max-w-3xl mx-auto pt-20 pb-10">
    <p class="max-w-none font-semibold">About us</p>
    <p class="max-w-none text-4xl normal-case">We bring consumer brands to life through creative strategy, advertising, design, brand development & content creation.</p>
  </div>

  <div class="about-grid p-2 grid grid-cols-8 grid-rows-9 auto-rows-max gap-2">
    <div class="bg-red-200 col-span-3 col-start-1 row-span-8" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-2 col-start-4 row-span-3 row-start-2" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-2 col-start-4 row-span-6" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-1 col-start-6 row-span-6 row-start-3" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-2 col-start-7 row-span-6 row-start-1" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
  </div>

  <div class="max-w-3xl mx-auto">
    <ul class="w-1/5 normal-case">
      <li class="uppercase font-semibold mb-2">Services:</li>
      <li class="mb-2">Creative Strategy</li>
      <li class="mb-2">Advertising</li>
      <li class="mb-2">Design</li>
      <li class="mb-2">Brand Development</li>
      <li>Content Creation</li>
    </ul>
  </div>

  <div class="w-full flex flex-wrap py-10">
    <div class="w-1/3">
      <img class="mx-auto w-20 my-20" src="img/logos/asics.svg" alt="asics logo">
      <img class="mx-auto w-20 my-20" src="img/logos/timberland.svg" alt="timberland logo">
    </div>
    <div class="w-1/3">
      <img class="mx-auto w-20 my-20" src="img/logos/underarmour.svg" alt="underarmour logo">
      <img class="mx-auto w-20 my-20" src="img/logos/northface.svg" alt="northface logo">
    </div>
    <div class="w-1/3">
      <img class="mx-auto w-20 my-20" src="img/logos/haglofs.svg" alt="haglofs logo">
      <img class="mx-auto w-20 my-20" src="img/logos/usc.svg" alt="usc logo">
    </div>
  </div>

  <div class="about-grid p-2 grid grid-cols-9 grid-rows-9 auto-rows-max gap-2">
    <div class="bg-red-200 col-span-3 col-start-1 row-span-6 row-start-2" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-3 col-start-4 row-span-8 row-start-1" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-3 col-start-7 row-span-3 row-start-3" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-span-3 col-start-7 row-span-4 row-start-6" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
  </div>

  <div class="max-w-3xl mx-auto flex flex-wrap py-20 border-b border-solid border-gray-300">
    <div class="w-1/5">
      Our Values
    </div>
    <div class="w-4/5">
      <p class="max-w-none normal-case">
        <strong class="uppercase">We live every day with kindness & empathy</strong><br>
        We want everyone to look forward to coming to work for us, and with us. We live in a ‘TGIM’ mentality.
      </p>
      <p class="max-w-none normal-case">
        <strong class="uppercase">We believe in the power of creativity</strong><br>
        To us, creativity is everything. We use it to solve problems for our clients and to express ourselves, both as a brand and as individuals.
      </p>
      <p class="max-w-none normal-case">
        <strong class="uppercase">We are collaborative by nature</strong><br>
        Collaboration builds our influence as a brand and means we all pull in the same direction to produce our best work. We all put sharing and teamwork ahead of our own egos.
      </p>
      <p class="max-w-none normal-case">
        <strong class="uppercase">We relish experimentation</strong><br>
        Our best work can only be achieved through trying new things, and not being afraid to fail. Our brand doesn’t just think outside the box, we live outside it.
      </p>
      <p class="max-w-none normal-case">
        <strong class="uppercase">We stand out amongst the crowd</strong><br>
        We aren’t just another creative shop. We stand as a brand amongst a sea of ‘me too’ agencies. We don’t do vanilla and we believe the worst phrase in the world is ‘it’s always been done that way
      </p>
    </div>
  </div>

  <div class="max-w-3xl mx-auto flex flex-wrap normal-case py-10">
    <div class="w-1/2 text-4xl">
      <p>How do we work with brands like yours?</p>
    </div>
    <div class="w-1/2">
      <p>We love close, long-term collaboration with brands. As your creative agency of record we can drive your creative end-to-end, from strategy to execution. Or, for individual projects, choose one of our creative services, or pick 'n' mix to suit the needs of your brand. </p>
    </div>
  </div>

  <div class="about-grid p-2 grid grid-cols-3 grid-rows-9 auto-rows-max gap-2 pb-20">
    <div class="bg-red-200 col-start-1 row-span-4 row-start-2" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-start-1 row-span-3 row-start-6 " style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-start-2 row-span-9" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
    <div class="bg-red-200 col-start-3 row-span-6 row-start-3" style="background:url(img/about-jumbotron.jpg); background-size:cover; background-position: center;"></div>
  </div>

  <div class="max-w-3xl mx-auto mb-10">
    {{ partial "contact-form" . }}
  </div>
</div>

{{ end }}
